<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="icon" type="image/jpg" sizes="32*32" href="../statics/Image/Logo.png">

    <link rel="stylesheet" href="../statics/css/Estilos.css">
<script>
    function verificarPasswords() {
        
        //Ontenemos los valores de los campos de contraseñas
        Contraseña = document.getElementById('Contraseña');
        Contraseña2 = document.getElementById('Contraseña');

        // Verificamos si las constraseñas no coinciden
        if (Contraseña.value != Contraseña2.value) {
        
            // Si las constraseñas no coinciden mostramos un mensaje
            document.getElementById("error").classList.add("mostrar");
        
            return false;
        }
        
        else {
        
            // Si las contraseñas coinciden ocultamos el mensaje de error
            document.getElementById("error").classList.remove("mostrar");
        
            // Mostramos un mensaje mencionando que las Contraseñas coinciden
            document.getElementById("ok").classList.remove("ocultar");
        
            // Desabilitamos el botón de login
            document.getElementById("login").disabled = true;
        
            // Refrescamos la página (Simulación de envío del formulario)
            setTimeout(function() {
            location.reload();
            }, 3000);
        
            return true;
        }
            }

        function verificarPasswords() {

            // Ontenemos los valores de los campos de contraseñas 
            Contraseña = document.getElementById('Contraseña');
            Contraseña2 = document.getElementById('Contraseña2');
            
            // Verificamos si las constraseñas no coinciden 
            if (Contraseña.value != Contraseña2.value) {
            
                // Si las constraseñas no coinciden mostramos un mensaje 
                document.getElementById("error").classList.add("mostrar");
            
                return false;
            } else {
            
                // Si las contraseñas coinciden ocultamos el mensaje de error
                document.getElementById("error").classList.remove("mostrar");
            
                // Mostramos un mensaje mencionando que las Contraseñas coinciden 
                document.getElementById("ok").classList.remove("ocultar");
            
                // Desabilitamos el botón de login 
                document.getElementById("login").disabled = true;
            
                // Refrescamos la página (Simulación de envío del formulario) 
                setTimeout(function() {
                    location.reload();
                }, 3000);
            
                return true;
            }
            
        }
</script>

    <title>Formulario</title>
</head>
<body >

    <a href="../templates/Index.html"><img src="../statics/Image/Index.png" height="100" width="500"></a>

    <div id="msg"></div>
 
        <!-- Mensajes de Verificación -->
        <div id="error" class="alert alert-danger ocultar" role="alert">
            Las Contraseñas no coinciden, vuelve a intentar !
        </div>
        <div id="ok" class="alert alert-success ocultar" role="alert">
            Las Contraseñas coinciden ! (Procesando formulario ... )
    </div>
        <!-- Fin Mensajes de Verificación -->


    <!-- Formulario -->
    <div class="formulario">
        <h3 style="text-align:center"><i class="fas fa-users"></i><i> REGISTRO </i></h3>
        <br>

        <form action="#" onsubmit="verificarPasswords(); return false">
            <label for="Curso">Seleccione el Tipo de Documento : </label>
		    <select class="form-control" id="Documento "name="documento" required></p>
			<option value=""></option>
			<option value="CC">Cedula de Ciudadania</option>
            <option value="CE">Cedula de Extranjeria</option>
			<option value="TI">Tarjeta de Identidad</option>
            <option value="PAS">Pasaporte</option>
		    </select>
            <br>
            <input type="text" placeholder="N° Identificación" id="Identificacion" name="identificacion" required>
            <input type="text" placeholder="Nombres" id="Nombres" name="nombre" required>
            <input type="text" placeholder="Apellidos" id="Apellidos" name="apellidos" required>
            <input type="password" placeholder="Contraseña" id="Contraseña" name="contraseña" required>
            <input type="password" placeholder="Confirmar Contraseña" id="Contraseña2" name="contraseña" required>
            <label for="Curso">Seleccione el Diplomado : </label>
		    <select class="form-control" name="Curso" required></p>
			<option value=""></option>
			<option value="Python">Diplomado en Lenguaje de Programacion en Python</option>
            <option value="Excel">Diplomado en Excel y Power BI</option>
            <option value="Computadores">Diplomado en Mantenimiento de Computadore y Redes Digitales</option>
			<option value="Drones">Diplomado en Piloto de Drones</option>
		    </select>
            <br>
            <input type="submit" id="login" value="Registrarme">
            
        </form>
    </div>

</body>
</html>
